<%= form_with(model: ticket, local: true, class:"text-white d-flex justify-content-center align-items-center ") do |form| %>
  <% if ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="d-flex flex-column m-4">

  <style>
    h2 {
      font-size: 14px;
    }

    .valider {
      font-size: 14px;
    }

    .field {
      font-size:12px;
    }

    .text {
      border-radius: 10px;
      color:#88c4c9;
    }

    
  </style>

    <h2> Client </h2>

  <div class="field d-flex flex-column">
    <%= form.label :raisonSocial %>
    <%= form.text_field :raisonSocial, style: "background-color: #1d4043;", class: "text" %>
  </div>

  <div class="field field d-flex flex-column">
    <%= form.label :nom %>
    <%= form.text_field :nom, style: "background-color: #1d4043;",class: "text" %>
  </div>

  <div class="field field d-flex flex-column">
    <%= form.label :prenom %>
    <%= form.text_field :prenom,  style: "background-color: #1d4043;",class: "text" %>
  </div>

  <div class="field field d-flex flex-column">
    <%= form.label :numero %>
    <%= form.number_field :numero,  style: "background-color: #1d4043;",class: "text" %>
  </div>

  <div class="field field d-flex flex-column">
    <%= form.label :mail %>
    <%= form.text_field :mail,  style: "background-color: #1d4043;",class: "text"  %>
  </div>

  </div>

  <div class="d-flex flex-column m-4">

    <h2> Mobile </h2>

  <div class="field field d-flex flex-column">
    <%= form.label :modele, "Modèle du mobile" %>
    <%= form.text_field :modele,  style: "background-color: #1d4043;",class: "text"  %>
  </div>

  <div class="field field d-flex flex-column">
    <%= form.label :imei, "IMEI" %>
    <%= form.number_field :imei,  style: "background-color: #1d4043;",class: "text"  %>
  </div>

  <div class="field field d-flex flex-column">
    <%= form.label :motdepass, "Mot de passe du téléphone" %>
    <%= form.text_field :motdepass,  style: "background-color: #1d4043;",class: "text"  %>
  </div>

  <div class="field field d-flex flex-column">
    <%= form.label :panne, "Type de Panne" %>
    <%= form.select :panne, ['Ecran','Vitre arrière ','Batterie', 'HP interne', 'HP externe', 'micro', 'bouton on/off', 'Volume', 'Autre ..'],  style: "background-color: #1d4043;",class: "text"  %>
  </div>

  <div class="field field d-flex flex-column">
    <%= form.label :remarque, "Remarque" %>
    <%= form.text_area :remarque,  style: "background-color: #1d4043;",class: "text"  %>
  </div>

  </div>

  <div class="d-flex flex-column m-4 ">

  <h2 class="pt-4"> Facturation </h2>

  <div class="field field d-flex flex-column">
    <%= form.label :total, "Total" %>
    <%= form.text_field :total,  style: "background-color: #1d4043;",class: "text"  %>
  </div>

  <div class="field field d-flex flex-column">
    <%= form.label :accompte, "Accompte" %>
    <%= form.text_field :accompte,  style: "background-color: #1d4043;",class: "text"  %>
  </div>

  <div class="field field d-flex flex-column">
    <%= form.label :reduction, "Réduction" %>
    <%= form.text_field :reduction,  style: "background-color: #1d4043;",class: "text"  %>
  </div>

   <div class="field field d-flex flex-column">
    <%= form.label :statut, "Status" %>
    <%= form.select :statut, ['Réceptionné', 'En cours de réparation', 'Réparé'],  style: "background-color: #1d4043;",class: "text"  %>
  </div>

    <div class="field field d-flex flex-column">
    <%= form.label :paye, "Paiement" %>
    <%= form.select :paye, ['En attende de paiement', 'Accompte Réglé', 'Total Réglé'],  style: "background-color: #1d4043;",class: "text"  %>
  </div>


  <div class="field field d-flex flex-column">
    <%= form.label :garantie, "Garantie" %>
    <%= form.select :garantie, ['0', '6 mois', '12 mois'],  style: "background-color: #1d4043;",class: "text"  %>
  </div>

  
  </div>

  <div class="actions">
   
    <%= form.submit value:"Créer un ticket", class:"btn btn-danger valider",style: "background-color: #ff0066;" %>
  </div>
<% end %>
