

<p>
  <strong>Raisonsocial:</strong>
  <%= @ticket.raisonSocial %>
</p>

<p>
  <strong>Nom:</strong>
  <%= @ticket.nom %>
</p>

<p>
  <strong>Prenom:</strong>
  <%= @ticket.prenom %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @ticket.numero %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @ticket.mail %>
</p>

<p>
  <strong>Modele:</strong>
  <%= @ticket.modele %>
</p>

<p>
  <strong>Imei:</strong>
  <%= @ticket.imei %>
</p>

<p>
  <strong>Motdepass:</strong>
  <%= @ticket.motdepass %>
</p>

<p>
  <strong>Panne:</strong>
  <%= @ticket.panne %>
</p>

<p>
  <strong>Remarque:</strong>
  <%= @ticket.remarque %>
</p>

<p>
  <strong>Total:</strong>
  <%= @ticket.total %>
</p>

<p>
  <strong>Accompte:</strong>
  <%= @ticket.accompte %>
</p>

<p>
  <strong>Reduction:</strong>
  <%= @ticket.reduction %>
</p>

<p>
  <strong>Garantie:</strong>
  <%= @ticket.garantie %>
</p>






