<style>

/* .parent-logo {
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content:right;
  align-items:right;
} */

/* .global1 {
  width:70mm;
  height:12mm;
}

.global2 {
  width:38mm;
  height:25mm;
} */

h3 {
  text-align:right;
}

.logo {
  height:50px;
  padding-left:80%;

}

.logo2 {
  height:50px;
  padding-left:20%;


}
</style>


<%# <p style='page-break-after:always;'></p> %>

<div class="toto">

  <strong> N'<%= @ticket.id %> </strong>


<br>
  <%= @ticket.created_at.to_formatted_s(:short)  %> <br>

  <strong> <%= @ticket.nom.upcase %> </strong> <br> 

  Panne:
  <%= @ticket.panne %> <br>

  MP :
  <%= @ticket.motdepass %>

</div>

<p style='page-break-after:always;'></p>



<div class="toto2">

  <strong> Ticket numéro :  <%= @ticket.id %>  </strong>


<br> <br>
  Date :  <%= @ticket.created_at.to_formatted_s(:short)  %>



</div>




<div class="middle">



<p>
  <strong>Nom:</strong>
  <%= @ticket.nom %>
</p>

<p>
  <strong>Prenom:</strong>
  <%= @ticket.prenom %>
</p>

<p>
  <strong>Numéro :</strong>
  0<%= @ticket.numero %>
</p>

<p>
  <strong>Mail :</strong>
  <%= @ticket.mail %>
</p>

</div>

<div class="end">

<p>
  <strong>Modèle :</strong>
  <%= @ticket.modele %>
</p>

<p>
  <strong>IMEI :</strong>
  <%= @ticket.imei %>
</p>

<p>
  <strong>Mot de passe :</strong>
  <%= @ticket.motdepass %>
</p>



<p>
  <strong>Panne:</strong>
  <%= @ticket.panne %>
</p>

<p>
  <strong>Remarque :</strong>
  <%= @ticket.remarque %>
</p>

<p>
  <strong>Garantie :</strong>
  <%= @ticket.garantie %>
</p>

</div>



<div class="price2">

<p>
  <strong>Total:</strong>
  <%= @ticket.total %> €
</p>

<p>
  <strong>Accompte:</strong>
  <%= @ticket.accompte  %> €
</p>

<p>
  <strong>Reduction:</strong>
  <%= @ticket.reduction %> €
</p>

<p>
  <strong>Total à payer:</strong>
    <%= @ticket.total - @ticket.accompte - @ticket.reduction %> €
</p>
 <hr>

<p style="font-size: 28px;">
  <strong>PREUVE DE DEPOT A CONSERVER</strong>
  MOBILE FRANCE 13 RUE DE BELFORT 71100 CHALON-SUR-SAÔNE
Tel : +33 9 83 03 72 94 Port. : +33 7 67 00 32 33 
contact@mobilecenter.fr N° SIRET : 89490645200012 Capital : 3 000 €
TVA non applicable - article 293 B du CGI 
Garantie (hors casse et oxydation)
</p>

 


 





 </div>
  







