<style>

/* .parent-logo {
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content:right;
  align-items:right;
} */

/* .global1 {
  width:70mm;
  height:12mm;
}

.global2 {
  width:38mm;
  height:25mm;
} */

h3 {
  text-align:right;
}

.logo {
  height:50px;
  padding-left:80%;

}

.logo2 {
  height:50px;
  padding-left:20%;


}
</style>

<div class="global1">


<div class="left"> 

<h4>
  <strong>Ticket numéro :  <%= @ticket.id %> </strong>
  
</h4>   


<h4>
  <strong>Date  :  <%= @ticket.created_at.to_formatted_s(:short)  %> </strong>

</h4>

<h4>
  <strong>Raison sociale:</strong>
  <%= @ticket.raisonSocial %> <br> 

  

  <strong>Numero de téléphone :</strong>
  <%= @ticket.numero %>
</h4>

</div>

<div class="centre">  

<h2>Appareil </h2>

<p>
  <strong>Modele:</strong>
  <%= @ticket.modele %>
  </p>

  <p>
  
  <strong>Imei:</strong>
  <%= @ticket.imei %>

  <br>
</p>

<p>
  <strong>Mot de passe :</strong>
  <%= @ticket.motdepass %>
  <br>
</p>

<p>
  <strong>Panne :</strong>
  <%= @ticket.panne %>
  <br>
</p>

<p>
  <strong>Remarque :</strong>
  <%= @ticket.remarque %>
  <br>
</p>

<p>
  <strong>Garantie:</strong>
  <%= @ticket.garantie %>
  <br>
</p>

</div>

  <div class="footer">

<p>
  <strong>Total:</strong>
  <%= @ticket.total %>€
</p>

<p>
  <strong>Accompte:</strong>
  <%= @ticket.accompte  %>€
</p>

<p>
  <strong>Reduction:</strong>
  <%= @ticket.reduction %>€
</p>

<p>
  <strong>Total à payer:</strong>
  <%= @ticket.total - @ticket.accompte %>€
</p>



<hr>

  </div>

  </div>

<p style='page-break-after:always;'></p>


<div class="global2">

 
  <h3>   Ticket numéro :  <%= @ticket.id %> </h3> 

 



   



<h3 style="text-align:right;">
  Date :  <%= @ticket.created_at.to_formatted_s(:short)  %>

</h3>

<div class="middle">
<p>
  <strong>Nom:</strong>
  <%= @ticket.nom %>
</p>

<p>
  <strong>Prenom:</strong>
  <%= @ticket.prenom %>
</p>

<p>
  <strong>Numéro :</strong>
  <%= @ticket.numero %>
</p>

<p>
  <strong>Mail :</strong>
  <%= @ticket.mail %>
</p>

</div>

<div class="end">

<p>
  <strong>Modèle :</strong>
  <%= @ticket.modele %>
</p>

<p>
  <strong>IMEI :</strong>
  <%= @ticket.imei %>
</p>

<p>
  <strong>PIN :</strong>
  <%= @ticket.motdepass %>
</p>



<p>
  <strong>Panne:</strong>
  <%= @ticket.panne %>
</p>

<p>
  <strong>Remarque :</strong>
  <%= @ticket.remarque %>
</p>

<p>
  <strong>Garantie :</strong>
  <%= @ticket.garantie %>
</p>


</div>


  <div class="price">

<p>
  <strong>Total:</strong>
  <%= @ticket.total %>€
</p>

<p>
  <strong>Accompte:</strong>
  <%= @ticket.accompte  %>€
</p>

<p>
  <strong>Reduction:</strong>
  <%= @ticket.reduction %>€
</p>

<p>
  <strong>Total à payer:</strong>
  <%= @ticket.total - @ticket.accompte %>€
</p>

  </div>

  </div>









