<style>

/* .parent-logo {
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content:right;
  align-items:right;
} */

/* .global1 {
  width:70mm;
  height:12mm;
}

.global2 {
  width:38mm;
  height:25mm;
} */

h3 {
  text-align:right;
}

.logo {
  height:50px;
  padding-left:80%;

}

.logo2 {
  height:50px;
  padding-left:20%;


}
</style>


<%# <p style='page-break-after:always;'></p> %>

<div class="toto">

  <strong> N'<%= @ticket.id %> </strong>


<br>
  <%= @ticket.created_at.to_formatted_s(:short)  %> <br>

  <strong> <%= @ticket.nom.upcase %> </strong> <br> 

  Panne:
  <%= @ticket.panne %> <br>

  MP :
  <%= @ticket.motdepass %>

</div>






