<div class="container-fluid">
  <% if administrateur_signed_in? %>

    <div class="row"> 

    <div class="column d-flex justify-content-center mt-4"> 
 
      <%= link_to "Se déconnecter", destroy_administrateur_session_path, class:"btn btn-danger m-2", style: "background-color: rgba(178,29,94);" , method: :delete %>
 
     
  
      <%= link_to "Créer un ticket", new_ticket_path, class:"btn btn-danger m-2 text-white ", style: "background-color: rgba(178,29,94);"  %>

        <%= link_to "Voir les tickets", 'tickets', class:"btn btn-danger m-2 text-white ", style: "background-color: rgba(178,29,94);"  %>


    
        
   
   

      

      <%= link_to "Changer son e-mail / mot de passe", edit_administrateur_registration_path,class:"btn btn-danger m-2",  style: "background-color: rgba(178,29,94);" %>
       
  
    </div>
      </div>
  </div>

  
 

  <% else %>

  <div class="container-fluid">
  <div class="row">
  <div class="column d-flex justify-content-center mt-4 ">

  
     
      <%= link_to "Se connecter", new_administrateur_session_path,class:"btn btn-danger m-2 text-white",  style: "background-color: rgba(178,29,94);" %>
    


      <%= link_to "S'enregistrer", new_administrateur_registration_path, class:"btn btn-danger m-2",  style: "background-color: rgba(178,29,94);" %>

  </div>
    </div>
      </div>


  <% end %>


 
