<!DOCTYPE html>
<html>
  <head>
    <title>MobileCenter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  </head>

  <body class="bg-dark text-white text-center">
  <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

       <div class="container-fluid ">
          <div class="row">
              <div class="column text-center">

        <%= link_to root_path do %>
   <%= image_tag "https://static.wixstatic.com/media/12d462_c75886e9f8524a6ead37a4cf72987ffb~mv2.png/v1/fill/w_119,h_35,al_c,q_95/Logo%20vectowhite.webp" %>
<% end %>
           
            
              </div> 
              </div>
        </div>
    <%= yield %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  </body>
</html>
